.bouton-grid {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 100px 100px;
  gap: 1px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding-top: 5vh;
}

.btn-answer {
  border: solid 4px #3582ca;
  color: #ffff;
  background-color: transparent;
  font-size: 28px;
  border-radius: 0.5em;
  text-decoration: none;
  width: 260px;
  height: 83px;
  box-shadow: 0 0 45px rgba(53, 130, 202, 1);
}

.green {
  border: solid 4px #00b41c;
  box-shadow: 0 0 45px rgba(0, 180, 28, 1);
}

.red {
  border: solid 4px #fa87db;
  box-shadow: 0 0 45px rgba(250, 135, 219, 1);
}

@media only screen and (max-width: 430px) {
  .btn-answer {
    width: 150px;
    height: 83px;
    font-size: 0.9rem;
  }
  .bouton-grid {
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px;
    gap: 20px;
  }
}
