.bouton-grid {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 100px 100px;
  gap: 20px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.btn-answer {
  border: solid 6px #3582ca;
  color: #ffff;
  background-color: transparent;
  font-size: 28px;
  border-radius: 10px;
  text-decoration: none;
  width: 250px;
  height: 83px;
}

.green {
  border: solid 6px #00B41C;
}

.red {
  border: solid 6px #FA87DB;
}