.Header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Quiz {
  font-size: 3vh;
  border: solid white;
  width: 20vh;
  border-radius: 1em;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.75);
  text-align: center;
}

span {
  position: absolute;
  z-index: auto;
  right: 46%;
  top: 1%;
  transform: rotate(8deg);
  font-family: "LondrinaShadow-Regular";
  font-size: 8vh;
  background-image: -webkit-linear-gradient(#3585ce, #fa87db);
  -webkit-background-clip: text;
  color: transparent;
}

@media only screen and (max-width: 430px) {
  span {
    right: 30%;
  }
}
