.Result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.GoodFalse {
  display: flex;
  align-items: center;
}
.none {
  display: none;
}
.goodCheck {
  height: 2.5vh;
  background-color: #00b41c;
  border-radius: 100%;
  padding: 2px;
  margin-right: 2vw;
}
.falseCheck {
  height: 2.5vh;
  background-color: #fa87db;
  border-radius: 100%;
  padding: 2px;
  margin-right: 2vw;
}
.Next {
  border: #ffff solid 2px;
  background-color: transparent;
  border-radius: 10px;
  color: white;
  width: 8rem;
  height: 2.5rem;
  font-size: 1.5rem;
  font-family: PaytoneOne-Regular;
  line-height: 50%;
  padding-bottom: 0.4rem;
}

@media only screen and (max-width: 430px) {
  .Next {
    width: 70px;
  }
}
