@font-face {
  font-family: "PaytoneOne-Regular";
  src: url(assets/Fonts/Paytone_One/PaytoneOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "LondrinaShadow-Regular";
  src: url(assets/Fonts/Londrina_Shadow/LondrinaShadow-Regular.ttf)
    format("truetype");
}

:root {
  --goodanswer: #00b41c;
  --wronganswer: #fa87db;
  --answer: #3585ce;
}

h1,
h2,
h3,
h4,
p,
button {
  font-family: "PaytoneOne-Regular";
  color: white;
  h1,
  h2,
  h3,
  h4,
  p {
    font-family: "PaytoneOne-Regular";
    color: white;
    text-align: center;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("assets/Image/background_image.jfif");
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
}

.box {
  border: white solid;
  padding: 8vh;
  border-radius: 1em;
  box-shadow: 0 0 45px rgba(255, 255, 255, 0.75);
}
